<div class="mt-5">
  <div class="container pm-certificate-container mt-5">
    <div class="outer-border"></div>
    <div class="inner-border"></div>

    <div class="pm-certificate-border col-xs-12">
      <div class="row pm-certificate-header">
        <div class="pm-certificate-title cursive col-xs-12 text-center">
          <h2>Toutred Certificate of Completion</h2>
        </div>
      </div>

      <div class="row pm-certificate-body">
        <div class="pm-certificate-block">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
              <div
                class="pm-certificate-name underline margin-0 col-xs-8 text-center"
              >
                <span class="pm-name-text bold">Mohamed Abduallah</span>
              </div>
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
              <div class="pm-earned col-xs-8 text-center">
                <span class="pm-earned-text padding-0 block cursive"
                  >has earned</span
                >
                <span class="pm-credits-text block bold sans"
                  >Course Certifiction</span
                >
              </div>
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
              <div class="col-xs-12"></div>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
              <div class="pm-course-title col-xs-8 text-center">
                <span class="pm-earned-text block cursive"
                  >while completing the training course entitled</span
                >
              </div>
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
              <div class="pm-course-title underline col-xs-8 text-center">
                <span class="pm-credits-text block bold sans"
                  >Angular and React JS Course</span
                >
              </div>
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="row">
            <div class="pm-certificate-footer">
              <div class="col-xs-4 pm-certified col-xs-4 text-center">
                <span class="bold block">Course ID: </span>
                <span class="bold block">GASDFDSAWRz</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
