<div class="mt-5" *ngIf="isVerified">
  <div class="container pm-certificate-container mt-5">
    <div class="outer-border"></div>
    <div class="inner-border"></div>

    <div class="pm-certificate-border col-xs-12">
      <div class="row pm-certificate-header">
        <div class="pm-certificate-title cursive col-xs-12 text-center">
          <h2>Tutored Certificate of Completion</h2>
        </div>
      </div>

      <div class="row pm-certificate-body">
        <div class="pm-certificate-block">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
              <div
                class="pm-certificate-name underline margin-0 col-xs-8 text-center"
              >
                <span class="pm-name-text bold">{{ studentName }}</span>
              </div>
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
              <div class="pm-earned col-xs-8 text-center">
                <span class="pm-earned-text padding-0 block cursive"
                  >has earned</span
                >
                <span class="pm-credits-text block bold sans"
                  >Course Certifiction</span
                >
              </div>
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
              <div class="col-xs-12"></div>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
              <div class="pm-course-title col-xs-8 text-center">
                <span class="pm-earned-text block cursive"
                  >while completing the training course entitled</span
                >
              </div>
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
              <div class="pm-course-title underline col-xs-8 text-center">
                <span class="pm-credits-text block bold sans">{{
                  courseTitle
                }}</span>
              </div>
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="row">
            <div class="pm-certificate-footer">
              <div class="col-xs-4 pm-certified col-xs-4 text-center">
                <span class="bold block">Course ID: </span>
                <span class="bold block">{{ courseId }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="isVerified; else notVerified"
  class="container pm-certificate-container mt-5"
></div>
<div class="position-relative" style="height: 100vh">
  <div
    *ngIf="isVerified; else notVerified"
    class="container pm-certificate-container mt-5"
  >
    <!-- Certificate HTML template -->
  </div>
  <ng-template #notVerified>
    <div
      class="alert alert-danger position-absolute top-0 start-0 end-0 bottom-0 d-flex align-items-center justify-content-center"
      style="width: 100vw; height: 100vh; font-size: 24px"
    >
      <i class="bi bi-exclamation-triangle-fill me-2"></i>
      <span>This certificate is not valid.</span>
    </div>
  </ng-template>
</div>
