<main id="main" data-aos="fade-in">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">
      <h2 class="my-2">Add New Question</h2>
      <!-- <p>
          Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia
          id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam
          aperiam consequatur laboriosam nemo harum praesentium.
        </p> -->
    </div>
  </div>
  <!-- End Breadcrumbs -->
  <div class="container">
    <div class="row mt-5">
      <div class="col-12 grid-margin stretch-card text-primary">
        <div class="card main-forms">
          <div class="card-body">
            <h4 class="card-title text-center">Add New Question</h4>

            <form class="forms-sample" #questionForm="ngForm">
              <div class="form-group">
                <label for="exampleInputName1">Question Header :</label>
                <input
                  #headerNameInput="ngModel"
                  ngModel
                  required
                  minlength="3"
                  maxlength="255"
                  type="text"
                  class="form-control"
                  id="exampleInputName1"
                  placeholder="Enter Question "
                  name="header"
                />
                <span
                  *ngIf="headerNameInput.touched && headerNameInput.invalid && headerNameInput.errors?.['required']"
                  style="color: red"
                  class="alert"
                  >This field is required *</span
                >
                <span
                  *ngIf="headerNameInput.errors?.['minlength']"
                  style="color: red"
                  class="alert"
                  >Please enter more than 2 characters *</span
                >
                <span
                  *ngIf="headerNameInput.errors?.['maxlength']"
                  style="color: red"
                  class="alert"
                  >Please enter less than 192 characters *</span
                >
              </div>

              <div class="form-group">
                <label for="exampleInputName1">Choice_1 :</label>
                <input
                  #choice_1NameInput="ngModel"
                  ngModel
                  required
                  minlength="1"
                  maxlength="255"
                  type="text"
                  class="form-control"
                  id="exampleInputName1"
                  placeholder="Enter choice_1 "
                  name="choice_1"
                />
                <span
                  *ngIf="choice_1NameInput.touched && choice_1NameInput.invalid && choice_1NameInput.errors?.['required']"
                  style="color: red"
                  class="alert"
                  >This field is required *</span
                >
                <span
                  *ngIf="choice_1NameInput.errors?.['minlength']"
                  style="color: red"
                  class="alert"
                  >Please enter more than 1 character *</span
                >
                <span
                  *ngIf="choice_1NameInput.errors?.['maxlength']"
                  style="color: red"
                  class="alert"
                  >Please enter less than 255 characters *</span
                >
              </div>

              <div class="form-group">
                <label for="exampleInputName1">Choice_2 :</label>
                <input
                  #choice_2NameInput="ngModel"
                  ngModel
                  required
                  minlength="1"
                  maxlength="255"
                  type="text"
                  class="form-control"
                  id="exampleInputName1"
                  placeholder="Enter choice_2 "
                  name="choice_2"
                />
                <span
                  *ngIf="choice_2NameInput.touched && choice_2NameInput.invalid && choice_2NameInput.errors?.['required']"
                  style="color: red"
                  class="alert"
                  >This field is required *</span
                >
                <span
                  *ngIf="choice_2NameInput.errors?.['minlength']"
                  style="color: red"
                  class="alert"
                  >Please enter more than 1 character *</span
                >
                <span
                  *ngIf="choice_2NameInput.errors?.['maxlength']"
                  style="color: red"
                  class="alert"
                  >Please enter less than 255 characters *</span
                >
              </div>

              <div class="form-group">
                <label for="exampleInputName1">Choice_3 :</label>
                <input
                  #choice_3NameInput="ngModel"
                  ngModel
                  required
                  minlength="1"
                  maxlength="255"
                  type="text"
                  class="form-control"
                  id="exampleInputName1"
                  placeholder="Enter choice_3 "
                  name="choice_3"
                />
                <span
                  *ngIf="choice_3NameInput.touched && choice_3NameInput.invalid && choice_3NameInput.errors?.['required']"
                  style="color: red"
                  class="alert"
                  >This field is required *</span
                >
                <span
                  *ngIf="choice_3NameInput.errors?.['minlength']"
                  style="color: red"
                  class="alert"
                  >Please enter more than 1 character *</span
                >
                <span
                  *ngIf="choice_3NameInput.errors?.['maxlength']"
                  style="color: red"
                  class="alert"
                  >Please enter less than 255 characters *</span
                >
              </div>

              <div class="form-group">
                <label for="exampleInputName1">Choice_4 :</label>
                <input
                  #choice_4NameInput="ngModel"
                  ngModel
                  required
                  minlength="1"
                  maxlength="255"
                  type="text"
                  class="form-control"
                  id="exampleInputName1"
                  placeholder="Enter choice_4 "
                  name="choice_4"
                />
                <span
                  *ngIf="choice_4NameInput.touched && choice_4NameInput.invalid && choice_4NameInput.errors?.['required']"
                  style="color: red"
                  class="alert"
                  >This field is required *</span
                >
                <span
                  *ngIf="choice_4NameInput.errors?.['minlength']"
                  style="color: red"
                  class="alert"
                  >Please enter more than 1 character *</span
                >
                <span
                  *ngIf="choice_4NameInput.errors?.['maxlength']"
                  style="color: red"
                  class="alert"
                  >Please enter less than 255 characters *</span
                >
              </div>

              <div class="form-group">
                <label>Correct Answers:</label>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="correctAnswer1"
                    id="correctAnswer1"
                    [(ngModel)]="data.correctAnswer1"
                  />
                  <label class="form-check-label" for="correctAnswer1">
                    Choice 1
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="correctAnswer2"
                    id="correctAnswer2"
                    [(ngModel)]="data.correctAnswer2"
                  />
                  <label class="form-check-label" for="correctAnswer2">
                    Choice 2
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="correctAnswer3"
                    id="correctAnswer3"
                    [(ngModel)]="data.correctAnswer3"
                  />
                  <label class="form-check-label" for="correctAnswer3">
                    Choice 3
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="correctAnswer4"
                    id="correctAnswer4"
                    [(ngModel)]="data.correctAnswer4"
                  />
                  <label class="form-check-label" for="correctAnswer4">
                    Choice 4
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label for="exampleInputName1">Score:</label>
                <input
                  #scoreInput="ngModel"
                  ngModel
                  required
                  min="0"
                  max="100"
                  type="number"
                  class="form-control"
                  id="exampleInputName1"
                  placeholder="Enter Score"
                  name="score"
                />
                <span
                  *ngIf="scoreInput.touched && scoreInput.invalid && scoreInput.errors?.['required']"
                  style="color: red"
                  class="alert"
                  >This field is required *</span
                >
                <span
                  *ngIf="scoreInput.errors?.['min']"
                  style="color: red"
                  class="alert"
                  >Please enter a value greater than or equal to 0 *</span
                >
                <span
                  *ngIf="scoreInput.errors?.['max']"
                  style="color: red"
                  class="alert"
                  >Please enter a value less than or equal to 100 *</span
                >
              </div>

              <button
                type="submit"
                [disabled]="questionForm.invalid"
                class="btn btn-primary mr-2"
                (click)="addQuestion(questionForm)"
              >
                Submit
              </button>
              <button type="reset" class="btn btn-light">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
