<!-- Favicons -->
<link href="src/assets/main/img/favicon.png" rel="icon" />

<link href="src/assets/main/img/apple-touch-icon.png" rel="apple-touch-icon" />

<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
  rel="stylesheet"
/>

<script src="https://checkout.stripe.com/checkout.js"></script>

<app-navbar-main></app-navbar-main>
<router-outlet></router-outlet>
<app-footer></app-footer>

<app-nav-bar></app-nav-bar>
<div class="container-scroller">
  <app-side-bar></app-side-bar>
  <div class="container-fluid page-body-wrapper">
    <div class="main-panel">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-stfooter class="fixed-bottom"></app-stfooter>
</div>

<router-outlet></router-outlet>
