pagination-controls /deep/ .ngx-pagination .current {
  background: #5fcf80 !important;
}

a:hover {
  text-decoration: none;
}
pagination-controls {
  margin: 20px;
  margin-top: 90px !important;
  position: relative !important;
  z-index: 9999999999999999 !important;
}
